body{
    font-family:  sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    margin: 0;
    padding: 0;
    background: #18678b;
}
a{
    text-decoration: none;
}
#contenedor{
    
    /*Arriba |Horizontal | Abajo*/
    margin: 20px auto 0;
    width: 1000px;
    background: #FFFFFF;
}
#header{
    text-align: center;
    color:white;
    /*Arriba y abajo | Izquierda derecha*/
    padding: 30px 15px;
    margin: 0 auto;
    /*Ancho Borde|estilo de borde | color de borde*/
    background-color: #27a5e0;
    line-height: 5px;
}

.navbar{
    width:  1000px;
    height: 45px;
    background-color: #dbe0e4;
}
ul{
    padding: 0;
    margin: 0;
    height: 45px;
    list-style: none;
}

li{
    text-align: center;
    float: left;
    display: block;
    padding: 15px 0;
}

li a{
    color:#124e69;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    border-right: 2px solid #333;
    font-size: 15px;
    font-weight:lighter;
    text-transform: uppercase;
    padding: 0 20px;
    text-decoration: none;
}

.post-header{
    text-align: center;
}
.post-header h3{
    text-transform: uppercase;
    font-size: 20px;
    color:#124e69;
    
}
p{
    padding: 0 20px 0;
}

.post-body .tabla th {
    background-color: #f2f2f2; 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}


.post-body .tabla td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

.post-header .subtitulo a{
    text-decoration: none;
}
.post-header .subtitulo{
    text-align: center; 
    font-size: 14px; 
    color: #777; 
    margin-top: 5px;
    
}
footer{
    padding: 0 0 30px;
    background: #27a5e0;
}
footer h4 {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF ;
}

fieldset{
    width: 500px;
}

fieldset label{
    color: #FFFFFF
}

img{
    box-shadow: 5px 5px 10px #3a3a3a
}